*{      
        box-sizing: border-box;
        /*border: red 1px solid;*/
}
 .clearfix:after {
            content:" ";
            display:table;
          }
body {
  margin: 0px;
}


h1 {
    font-family: 'Special Elite', cursive;
    text-align:center;
    color: #ffffff;

}
h2 {
    font-family: 'Special Elite', cursive;
    text-align:center;
    padding-bottom: 25px;
    padding-top: 30px;
}

h3 {
    font-family: 'Special Elite', cursive;
}

header {
    background-image:url(../images/header.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 722px;
}
#top-form {
    width: 600px;
    padding: 12px 20px;
    margin: auto;
    padding-top: 100px;
}

input {
    width: 400px;
    padding: 12px 20px;
    border: 1px white;
}

#submit {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    cursor: pointer;
    width: 24%;
    height: 40px;
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    text-align:center;
    position:relative;
    top: -3px;
    left: -4px;
}

#submit:hover {
    background-color: white;
    color: #aae5ba;
}

#text {
     z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    text-align: center;
     color: #ffffff;
     padding-top: 30px;
     padding-bottom: 80px;
}

p {
    font-family: 'Special Elite', cursive;
    text-align:center;
    font-size: 14px;
}
main {
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    margin-left: auto;
	margin-right: auto;
    }
    
#center-column {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
	margin-right: auto;
}

#explore {
     text-align: center;
      padding-bottom: 70px;
}

#howto {
    text-align: center;
    padding-bottom: 70px;
}

.howtolabel{
    position:relative;
    padding-top:50px;
}

.howtolabelfirst{
    position:relative;
    padding-top:20px;
}

#store {
    text-align: center;
    padding-bottom: 70px;
    margin: auto;
    width: 1000 px;
}


.slider {
	width: 1000px;
	margin: 2em auto;
}

.slider-wrapper {
	width: 100%;
	height: 666px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 3s linear;
	left:0px;
	object-fit: cover;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#sellers{
    text-align: center;
    width: 1000px; 
    margin: auto;
    padding-bottom: 70px;
}
    
.seller-img{
   float: left; 
}

#greg {
    padding-left: 40px;
    padding-right: 39px;
}

#sign-up {
    background-image:url(../images/bg-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#space {
    background-color: white;
    text-align: center;
    height: 400px;
    padding-top: 40px;
}


#appeal {
    background-color: white;
    text-align: center;
    height: 800px;
     background-image:url(../images/waste.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    padding-top: 50px;
}

#pbs {
    height: 83px;
    width: 156px;
}

#bottom-form {
    width: 600px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-left: auto;
	margin-right: auto;
}

.confirmation {
    font-family: 'Special Elite', cursive;
    text-align:center;
    color: white;
}

.error {
    font-family: 'Special Elite', cursive;
    text-align:center;
    color: red;
    }

.lines {
    font-size: 35px;
}

