*{
        box-sizing: border-box;
}
body {
        margin: 0px;
}

header{
        background: #fafafa;
        padding: 20px;
}
form {
       background: white;
       width: 600px;
       float: left;
       
        height: 40px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
        border: 1px solid #eee;
        
}
#search-field {
        height: 40px;
        border: none;
        width: 600px;
        font-size: 16px;
}
#main-nav {
           background-color: #fafafa;
           padding-left: 100px;
           margin: 0px;
           display: block;
          
}
#main-nav li {
         display: inline; 
         padding: 0px 20px 0px 20px;
        font-family: arial,sans-serif;
}
#logo {
        float: left;
        width: 120px;
        padding-right: 20px;
}
#me { 
        width: 50px;  
        margin-left: 900px;
}
section {
        width: 1140px;
        padding-left: 120px;
}

