*{
        box-sizing: border-box;
}
 .clearfix:after {
            content:" ";
            display:table;
            clear:both;
          }
        
body {
  margin: 0px;
}
h1 { 
  font-family: 'Catamaran', sans-serif;
  margin-top: 5px; 
}
h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Catamaran', sans-serif;
}
h3 {
  margin-top: -44px;
  font-size: 18px;
  font-weight: 100;
  color: green;
  font-family: 'Catamaran', sans-serif;
}
h4 {
  color: #808080;
  font-family: 'Lato', sans-serif;
  margin-top: -20px;
}
p {
  margin-top: -30px;
  width: 95%;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
li {
  margin-left: 20px;
  list-style-type: none;
  display: inline;
}

header{
  background: #fafafa;
  padding: 20px;
  padding-top: 40px;
}

form {
  background: white;
  width: 600px;
  float: left;
  margin-left: 140px;
  margin-top: -60px;
  height: 45px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  border: 1px solid #eee;
}
   
#me { 
  width: 50px;  
  margin-left: 85%;
}

ul{
	margin-top:0;
}
       
input.button_add {
  background-image: url("https://i.imgur.com/pgtYUAv.jpg"); 
  background-color: transparent; 
  background-repeat: no-repeat;  
  background-position: 0px 0px;  
  border: none;           
  cursor: pointer;        
  height: 15px;           
  width: 200px;
  padding-left: 26px;     
  vertical-align: middle;     
} 
#search-field {
  height: 40px;
  border: none;
  width: 600px;
  font-size: 16px;
}
#main-nav {
  background-color: #fafafa;
  padding-left: 65px;
  padding-top: 15px;
  padding-bottom: -15px;
  margin: 0px;
  display: block;
          
}
#main-nav li {
  display: inline; 
  padding: 0px 2px 0px 20px;
  font-family: arial, sans-serif;
  color: #808080;
}

.all {
  color: #448AFF;
  font-weight: 700px;
  text-decoration: underline;
}


#logo {
  float: left;
  width: 120px;
  padding-right: 20px;
}

#title:hover {
    text-decoration: underline;
}



section {
  width: 64%;
  padding-left: 8.5%;
  float: left;
}

.box {
  border: 1px solid #eee;
  float: right;
  position: absolute;
  margin-top: 15%;
  text-align: center;
}
.box, p {
  width: 95%;
  margin-left: 10px;
  margin-top: 10px;
  
}
.box, ul {
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  margin-left: 1px;
}
.box, #emma1 {
  margin-top: 30px;
  margin-left: 5px;
}

footer {
  background-color: #fafafa;
  width: 100%;
  position: fixed;
  bottom: 0%;
  text-align: left;
  padding-top: 15px;
  padding-left: 90px;
  font-family: arial;
  color: #808080;
}
footer, li{
    margin-right: 25px;
  }
#search-field{
  float: left;
  height: 17px; 
  margin-left: 480px;
  margin-top: 10px; 
  width: 63px; 
}
  
#button-holder{
  cursor: pointer;
  float: right;
  height: 30px;
  margin: -2px;
  text-align: center;
  width: 50px;
}
  
#button-holder img{
  margin: 5px;
  width: 35px; 
}

</style>




